*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#035b7e, #111a24);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
#logo{
    grid-column: 2/3;
    font-size: 24px;
}
.hamburger{
    justify-self: end;
}
section{
    display: flex;
    height: 80vh; 
    justify-content: center;
    align-items: center;
}
.hero{
    height: 60%;
    width: 100%;
    position: relative;

}
.hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.headline{
    position: absolute;
    top: 70%;
    left: 15%;;
    font-size: 50px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}
a{
    text-decoration: none;
    transition:0.2s;
    font-size: small;
}
a:hover{
    font-size: 60px;
}
p{
    position: relative;
    text-align: left;
    color: white;
    bottom: 75%;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 5;
}






